aiodns==3.4.0
aiofiles==24.1.0
aiogram==3.19.0
aiogram.contrib==1.1.3
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
APScheduler==3.11.0
attrs==25.3.0
beautifulsoup4==4.13.3
blinker==1.9.0
Brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.2
cryptography==44.0.0
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
decorator==5.1.1
distro==1.9.0
dnspython==2.7.0
dotenv==0.9.9
Flask==3.1.0
fonttools==4.57.0
frozenlist==1.5.0
future==1.0.0
geocoder==1.38.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
jiter==0.8.2
keyboard==0.13.5
kiwisolver==1.4.8
magic-filter==1.0.12
MarkupSafe==3.0.2
matplotlib==3.10.1
motor==3.7.0
MouseInfo==0.1.3
multidict==6.3.1
numpy==2.2.5
openai==1.62.0
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==25.0
Panda3D==1.10.15
panda3d-gltf==1.2.1
panda3d-simplepbr==0.12.0
pillow==11.2.1
propcache==0.3.1
psutil==6.1.1
pyaes==1.6.1
pyasn1==0.6.1
PyAutoGUI==0.9.54
pycares==4.9.0
pycparser==2.22
pydantic==2.11.6
pydantic_core==2.33.2
pydub==0.25.1
pygame==2.6.1
PyGetWindow==0.0.9
pymongo==4.11.3
PyMsgBox==1.0.9
pynput==1.7.7
PyOpenGL==3.1.9
pyparsing==3.2.3
pyperclip==1.9.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyRect==0.2.0
PyScreeze==1.0.1
PySide6==6.8.2.1
PySide6_Addons==6.8.2.1
PySide6_Essentials==6.8.2.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.0
pytweening==1.2.0
pywin32==308
ratelim==0.1.6
requests==2.32.3
rsa==4.9
screeninfo==0.8.1
setuptools==75.8.0
shiboken6==6.8.2.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
Telethon==1.39.0
tkintermapview==1.29
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.13.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.3.0
ursina==7.0.0
Werkzeug==3.1.3
wheel==0.45.1
yarl==1.18.3
zstandard==0.23.0
iniconfig==2.1.0
packaging==24.2
pluggy==1.5.0
pytest==8.3.5
psutil==7.0.0
PySide6==6.8.2.1
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
contourpy==1.3.1
cycler==0.12.1
fonttools==4.56.0
gigachat==0.1.39.post1
h11==0.14.0
httpcore==1.0.8
httpx==0.28.1
idna==3.10
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.8
langchain-core==0.3.52
langchain-gigachat==0.3.10
langsmith==0.3.31
matplotlib==3.10.1
mcpi==1.2.1
numpy==2.2.4
opencv-python==4.11.0.86
orjson==3.10.16
packaging==24.2
pefile==2023.2.7
pillow==11.1.0
psutil==7.0.0
pydantic==2.11.3
pydantic_core==2.33.1
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
pyparsing==3.2.1
PySide6==6.8.2.1
PySide6_Addons==6.8.2.1
PySide6_Essentials==6.8.2.1
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
PyYAML==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
setuptools==78.1.0
shiboken6==6.8.2.1
six==1.17.0
sniffio==1.3.1
speedtest-cli==2.1.3
tenacity==9.1.2
types-requests==2.32.0.20250328
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
zstandard==0.23.0
